body {
  background-color: rgb(161, 144, 144);
}

#button {
  margin-top: 30px;
}

#frame {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

#NIC {
  width: 300px;
  margin-top: 5px;
}

#form-group {
  margin-bottom: 75px;
}

#line {
  width: 400px;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 100px;
  padding: 1px;
  background-color: black;
}

#text {
  margin-right: 5px;
}
