body {
  margin-top: 50px;
  background-color: rgb(48, 46, 46);
}
h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(48, 46, 46);
  margin-top: 50px;
}
#error {
  text-align: center;
  color: rgb(177, 9, 23);
  font-size: 20px;
  margin-top: 20px;
}
#form {
  text-align: center;
  color: rgb(196, 192, 192);
  margin-top: 20px;
}
#button {
  margin-top: 10px;
}
#label {
  margin-right: 10px;
  color: rgb(48, 46, 46);
}
#frame {
  align-items: center;
}
#row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}
#text {
  text-align: center;
  color: rgb(48, 46, 46);
  margin-top: 20px;
  margin-right: 5px;
}
#NICno {
  color: rgb(48, 46, 46);
  margin-top: 20px;
}
#type {
  text-align: center;
  color: rgb(48, 46, 46);
  margin-top: 20px;
}
#DOB {
  text-align: center;
  color: rgb(48, 46, 46);
  margin-top: 20px;
}
#age {
  text-align: center;
  color: rgb(48, 46, 46);
  margin-top: 20px;
}
#gender {
  text-align: center;
  color: rgb(48, 46, 46);
  margin-top: 20px;
}
